.container {
  background: white;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
  border-radius: 4px;
  border: 1px solid #e7eaf3;
  margin-top: 20px;
  padding: 10px 20px;
}

.item {
    min-height: 50px;
    font-size: 14px;
    color: black;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7eaf3;
}

.item:last-child {
  border-bottom: none;
}

.itemLabel {
  padding-left: 10px;
  width: 180px;
  font-weight: 600;
}

.itemValue {
  padding-left: 10px;
  flex: auto;
  word-break: break-all;
}