.accountId {
  display: flex;
  align-items: center;
}

.accountIdValue {
    font-size: 1.1rem;
    font-weight: 600;
}

.wrapSearchBar {
  margin-left: auto;
}

.tabs {
    background: white;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 5%);
    border-radius: 4px;
    border: 1px solid #e7eaf3;
    margin-top: 20px;
    padding: 10px 20px;
}